@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    border-radius: 15px; /* Smooth rectangle */
    display: flex; /* Arrange links horizontally */
    flex-direction: row;
    justify-content: space-around; /* Evenly space out the links */
    padding: 1em;
    margin-right: 20px;
  }
  
  .nav-link {
    color: white; /* Make the links white */
    text-decoration: none; /* Remove the underline */
  }
  

.nav-item {
  padding: 1em;
}

.section {
  height: 816px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

#about {
  background-image: url('/assets/about-background.png');
}
.about-content {
    background-color: rgba(0, 0, 0, 0.6); /* Black background with 60% opacity */
    border-radius: 15px; /* Smooth rectangle */
    color: rgb(241, 241, 241); /* White text */
    padding: 15px;
    width: 45%;
    position: absolute;
    right: 0;
    margin: 30px;
    margin-top: 50px;;
    max-height: 90%;
    overflow: scroll; /* Enable scroll if content is longer than the box */
    font-size: larger;
  }
  
  .about-content h1 {
    color: #6a487f;// #ffffff; /* Change the color of the heading if needed */
  }
  .about-content h2 {
    color: #575757;
  }
  .about-content p{
    color: #C0C0C0;
  }
  

#experience {
  background-image: url('/assets/experience-background.png');
}
.experience-content {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    color: white;
    padding: 10px;
    width: 60%;
    margin-left: 40px;
    position: absolute;
    left: 0;  
    max-height: 80%;
    overflow: scroll;

  }
  
  .job {
    margin-bottom: 20px;

  }
  
  .job h2 {
    color: #f9a826;
  }
  
  .job h3, .job p {
    color: white;
  }
  
  .job ul {
    list-style-type: square;
    margin-left: 20px;
    color: #C0C0C0;
  }
  

#skills {
  background-image: url('/assets/skills-background.png');
  flex-direction: column;

}
.skills-content {
    background-color:rgba(0, 0, 0, 0.411);
    border-radius: 15px;
    color: white;
    padding: 10px;
    width: 60%;
    margin: 20px auto;
    overflow: scroll;
  }
  .skills-content h1 {
    color: #f9a826;
    text-align: center;
}
  .skills-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .skills-logos img {
    height: 80px; /* You may need to adjust this based on your logo sizes */
    margin: 10px;
  }
  

 //For tablets and small desktops 
@media (max-width: 992px) {
  .nav {
    font-size: smaller;
  }
  #about {
    background-image: url('/assets/about-background-small.png');
  }

  #experience {
    background-image: url('/assets/experience-background-small.png');
  }

  #skills {
    background-image: url('/assets/skills-background-small.png');
  }
} 

/* For mobile phones */
@media (max-width: 576px) {
  .nav {
    font-size: 9px;
  }
  .section{
    font-size: small;
  }
  #about {
    background-image: url('/assets/about-background-extra-small.png');
  }

  #experience {
    background-image: url('/assets/experience-background-extra-small.png');
  }

  #skills {
    background-image: url('/assets/skills-background-extra-small.png');
  }
}


footer {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 20px;
    position: sticky;
    bottom: 0;
  }
  