<nav class="sticky-top">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://medium.com/@arslan70/" target="_blank">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://arslan.photography/" target="_blank">Photography</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:arslan70@gmail.com?subject=Contacting from resume site">Contact</a>
      </li>
    </ul>
  </nav>
  
  <div id="about" class="section">
    <div class="about-content">
      <h1>Arslan Mehboob</h1>
      <h2>Cloud Architect</h2>
      <p>
        Passionate and innovative Cloud Architect with a strong background in engineering and a deep enthusiasm for cloud technologies. 
        A dedicated tinkerer and problem-solver, I specialize in architecting serverless solutions, driving observability, and implementing automation. With a keen eye for optimization and scalability, I design robust and secure cloud architectures that align business needs with technical excellence.
        As a AWS Solutions Architect I focus on designing and implementing scalable, efficient services on the AWS platform. 
        A key part of the role is also staying updated and experimenting with new technologies as they emerge.
      </p>
    </div>
  </div>
  
  
  <div id="experience" class="section">
    <div class="experience-content">  
      <div class="job">
        <h2>Company A</h2>
        <h3>Duration: 2020 - Present</h3>
        <p>Responsibilities:</p>
        <ul>
          <li>Designed and implemented serverless architectures using AWS Lambda, DynamoDB, and API Gateway.</li>
          <li>Managed infrastructure as code using AWS CloudFormation.</li>
          <li>Optimized application performance and costs.</li>
        </ul>
      </div>
  
      <div class="job">
        <h2>Company B</h2>
        <h3>Duration: 2017 - 2020</h3>
        <p>Responsibilities:</p>
        <ul>
          <li>Architected and implemented cloud solutions using AWS services.</li>
          <li>Evaluated and implemented new AWS offerings as suitable.</li>
          <li>Ensured security best practices were adhered to across all deployments.</li>
        </ul>
      </div>
  
      <div class="job">
        <h2>Company C</h2>
        <h3>Duration: 2014 - 2017</h3>
        <p>Responsibilities:</p>
        <ul>
          <li>Worked with development teams to architect and build applications on AWS.</li>
          <li>Provided best practices guidance to customers and internal teams.</li>
          <li>Participated in the creation and maintenance of documentation.</li>
        </ul>
      </div>
    </div>
  </div>
  
  
  <div id="skills" class="section">
    <div class="skills-content">
      <div class="skills-logos">
        <img src="/assets/aws-logo.png" alt="AWS" title="AWS">
        <img src="/assets/terraform-logo.png" alt="Terraform" title="Terraform">
        <img src="/assets/ansible-logo.png" alt="Ansible" title="Ansible">
        <img src="/assets/jenkins-logo.png" alt="Jenkins" title="Jenkins">
        <img src="/assets/datadog-logo.png" alt="Datadog" title="Datadog">

      </div>
      <div class="skills-logos">
        <img src="/assets/docker-logo.png" alt="Docker" title="Docker">
        <img src="/assets/java-logo.png" alt="Java" title="Java">
        <img src="/assets/typescript-logo.png" alt="TypeScript" title="TypeScript">
        <img src="/assets/linux-logo.png" alt="Linux" title="Linux">
        <img src="/assets/mysql-logo.png" alt="MySQL" title="MySQL">
      </div>
    </div>
  </div>
  <footer>
    <p>This page is a quick introduction about myself. It is a showcase of using ChatGPT and Midjourney to create and host a resume in under 1 hour. You can find more details about it in the blog.</p>
  </footer>
  
  
  